<div class='container-fluid'>
     <h3>Employee Store Form</h3>
     <form [formGroup] = 'storeForm' (ngSubmit) = 'handleSubmit(storeForm.value)'>
        <div class="row">
            <div class="col-5">
                <div>
                    Id <input type="number" formControlName="_id" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
            <div>
                Name <input type="text" formControlName="name" class="form-control">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
            <div>
                Salary <input type="number" formControlName="salary" class="form-control">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div>
                    <input type="submit" value="Submit" class="form-control" class="btn btn-primary">
                </div>
            </div>
        </div>
</form>
</div>